/*Default*/
body {
    margin: 0;
    width: 100%;
}

/*Logo*/

/*Menu*/

.o-flex {
    display: flex;
}

.main-header {
    position: relative;
    z-index: 3;
    align-items: center;
    justify-content: space-around;
    padding: 4px 40px;
}

.list-menu {
    display: flex;
    list-style: none;
    
}

.list-items {
    padding-left: 30px;
}

/*Banners*/

#banners {
    width: 100%;

}

/*Ultimos Projetos*/
.title-projects {
    text-align: center;
    padding-top: 45px;

}

.subtitle-projects {
    text-align: center;
}

.items-projects {
    
}
